
@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%
  }

  .header img {
    width: 40px;
  }

  .header h3 {
    font-size: 28px;
  }

  .nav > li > a {
    font-size: 18px;
    padding: 0 20px;
  }

  .about,
  .footer,
  .header,
  .leadL,
  .mobile,
  .tips {
    padding: 0;
  }

  .footer {
    font-size: 20px;
  }

  .header,
  .row {
    max-width: 1280px;
    margin: 0 auto ;
    padding: 0 70px;
    position: relative;
  }

  .toplead {
    width: 100%;
  }

  .leadL {
    text-align: left;
  }

  .leadR {
    width: 418px !important;
    height: 448px;
    margin-left: 125px;
  }

  .leadR span.href {
    width: 230px;
    height: 66px;
    top: 68px;
    left: 98px;
    line-height: 66px;
    font-size: 36px;
  }

  .toplead h1 {
    font-size: 65px;
    margin-top: 160px;
  }

  .toplead p {
    font-size: 56px;
  }

  .toplead a {
    width: 390px;
    height: 90px;
    font-size: 42px;
    line-height: 90px;
  }

  .line {
    width: 541px;
    height: 139px;
    left: 400px;
    top: 280px;
  }

  /**/
  .mobile .row {
    margin-top: 30px;
    height: 540px;
  }

  .mobile .m_tyk {
    width: 503px;
    left: 130px;
    position: absolute;
    margin-left: 0;
  }

  .mobile .wx {
    width: 500px;
    padding: 0;
  }

  .mobile .wx h3 {
    margin-top: 120px;
    font-size: 44px;
  }

  .mobile .wx img {
    width: 220px;
    margin-top: 44px;
  }

  .mobile .label-success {
    font-size: 32px;
  }

  .mobile .wx span {
    display: inline;
  }

  .mobile .label-default {
    font-size: 44px;
  }

  /**/
  .download .row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 110px;
    position: relative;
  }

  .download .row .col-md-6 {
    width: 425px;
    padding: 0;
    margin: 0 40px;
    float: left;
  }

  .download a {
    width: 425px;
    font-size: 30px;
  }

  .download a i {
    font-size: 50px;
  }

  /**/
  .enter .col-md-6 {
    font-size: 40px;
  }

  .mapla {
    display: block;
  }

  .fa-map-marker {
    width: 152px;
    height: 152px;
    border: 10px solid #595757;
  }

  .enter .fa-map-marker:before {
    font-size: 92px;
    margin-top: 7px;
    display: block;
  }

  .enter .ewm {
    width: 152px;
  }

  .tips {
    max-width: 1280px;
    padding: 0 70px;
    margin: 50px auto;
    font-size: 42px;
  }

  .about {
    margin-bottom: 70px;
  }

  .about .col-md-4 {
    padding: 0 30px 0 0;
  }

  .about h3 {
    font-size: 33px;
    margin: 10px 0 20px;
  }

  .about p {
    font-size: 18px;
  }
}
