@media (max-width: 640px) {

  .col-md-6:first-child {
    margin-bottom: 4%
  }

  .line {
    display: none
  }

  .about,
  .footer,
  .header,
  .leadL,
  .mobile,
  .tips {
    padding: 0 15px
  }

  .mobile .m_tyk {
    left: 0;
    width: auto;
    margin-left: 5.5%
  }

  .mobile .wx {
    left: 0;
    width: auto;
    text-align: center;
    margin-top: -50px
  }

  .enter .col-md-6 {
    font-size: 18px
  }

  .row {
    margin: 0
  }

  .enter .col-md-6 {
    width: 50%;
    float: left
  }

  .col-md-4 {
    padding: 0
  }


  .col-md-6:first-child {
    margin-bottom: 4%
  }

  .line {
    display: none
  }

  .mobile .m_tyk {
    left: 0;
    width: auto;
    margin-left: 5.5%
  }

  .mobile .wx {
    left: 0;
    width: auto;
    text-align: center;
    margin-top: -50px
  }

  .enter .col-md-6 {
    font-size: 18px
  }

  .row {
    margin: 0
  }

  .enter .col-md-6 {
    width: 50%;
    float: left
  }

  .col-md-4 {
    padding: 0
  }
}
