@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('fonts/opensans-regular-webfont.woff') format('woff'),
  url('fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.browsehappy {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

body {
  font-family: "microsoft yahei";
  background-color: #c9e7d9
}

a:hover {
  text-decoration: none
}

h3 {
  font-size: 18px
}

.container {
  padding: 0;
  width: 100%;
  background: #fff
}

.about,
.footer,
.header,
.leadL,
.mobile,
.tips {
  padding: 0 30px
}

.row {
  margin: 0
}

.header {

	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #636363
}
.header h3 {
	margin: 0;
	line-height: 50px
  

}

.header img {
  width: 36px;
  margin-right: 2%
}

.nav > li > a {
  color: #b3b3b3;
  border-right: 1px solid #e6e6e6;
  display: inline;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0
}

.nav > li > a:hover {
  background: 0 0;
  color: #50b185
}

.nav li:last-child a {
  border-right: none
}

.toplead {
  color: #fff;
  position: relative;
  background-image: linear-gradient(top, #3ab54b, #11ac68);
  background-image: -webkit-linear-gradient(top, #3ab54b, #11ac68);
  background-color: #3ab54b
}

.toplead .row {
  position: relative;
}

.leadL {
  font-size: 32px;
  z-index: 9;
  text-align: center
}

.leadR {
  background: url(../images/pm.png) 0 0/100% no-repeat;
  width: 230px !important;
  height: 247px;
  margin: 24px auto;
  text-align: center;
}

.toplead h1 {
  font-weight: 700;
  margin-top: 92px;
  font-size: 36px;
  margin-bottom: 0
}

.toplead a {
  background: #fff;
  border-radius: 4px;
  color: #50b185;
  font-size: 18px;
  width: 220px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  margin-top: 15px;
  display: inline-block;
  transition: all .5s ease-in-out 0s
}

.toplead a:hover {
  background: #2afd94;
  color: #47b880
}

.toplead p {
  margin-bottom: 0;
  font-size: 32px
}

.toplead span.href {
  font-size: 20px;
  display: block;
  position: relative;
  width: 128px;
  left: 54px;
  top: 36px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-family: 'open_sansregular';
}

.line {
  width: 40%;
  position: absolute;
  left: 35%;
  top: 52%;
  z-index: 0;
}

.line img {
  width: 100%;
}

.mobile {
  padding-top: 20px;
  position: relative
}

.mobile .m_tyk {
  width: 280px;
  margin-left: -540px;
  position: relative;
  left: 50%
}

.mobile .m_tyk img {
  width: 100%
}

.mobile .wx {
  text-align: center;
  position: relative;
  left: 50%;
  width: 280px
}

.mobile .wx h3 {
  margin-top: 55px;
  font-size: 24px
}

.mobile .wx span {
  display: inline-block
}

.mobile .wx img {
  width: 120px;
  margin-top: 25px
}

.mobile .label-success {
  background-color: #49c50b;
  padding: 0 3px;
  width: 24px;
  height: 24px;
  line-height: 24px
}

.mobile .label-default {
  color: #2a2a29;
  background: 0 0;
  font-weight: 400;
  font-size: 20px;
  padding: 0
}

.fa-weixin {
  text-shadow: #42b10a 1px 1px 0, #42b10a 2px 2px 0, #42b10a 3px 3px 0
}

.download {
  background: #31b351;
  padding: 50px 0;
  text-align: center
}

.download .row {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center
}

.download a {
  border-radius: 3px;
  padding: 15px 0;
  width: 238px;
  display: inline-block;
  text-align: center
}

.download .col-md-6:last-child a .fa-windows,
.download a {
  color: #34b44f;
  border: none;
  transition: all .2s ease-in-out 0s
}

.download a span {
  position: relative;
  top: -5px
}

.download .col-md-6:last-child a {
  background-color: #007129;
  color: #fff
}

.download .col-md-6 a:hover {

  color: #44c65f
}

.download .col-md-6:last-child a:hover {
  background-color: #0f7f38;
  color: #edfdf0
}

.download a i {
  font-size: 34px;
  margin-right: 20px
}

.enter {
  background: #ececec;
  margin-top: 16px;
  position: relative;
  padding: 45px 0;
  width: 100%
}

.enter:before {
  content: "";
  border-color: transparent transparent #ececec;
  border-width: 16px;
  border-style: solid;
  position: absolute;
  top: -32px;
  left: 50%;
  margin-left: -32px
}

.enter .col-md-6 {
  text-align: center;
  font-size: 24px
}

.enter .fa-map-marker,
.ewm {
  display: block;
  margin: 24px auto 0
}

.fa-map-marker {
  width: 120px;
  border: 6px solid #595757;
  border-radius: 100%;
  height: 120px;
  line-height: 90px
}

.enter .fa-map-marker:before {
  font-size: 72px;
  vertical-align: middle;
  padding-top: 17px;
  color: #595757
}

.enter .success {
  color: #25b05a
}

.enter .ewm {
  width: 120px
}

.enter img {
  width: 100%
}

.footer {
  background: #2bb256;
  color: #fff;
  line-height: 40px
}

.tips {
  color: #22b05b;
  font-size: 24px;
  padding-top: 24px
}

.about {
  margin-bottom: 40px
}

@media (min-width: 640px) {
  .col-md-6 {
    width: 50%;
    float: left
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%
  }

  .header img {
    width: 40px;
  }

  .header h3 {
    font-size: 28px;
  }

  .nav > li > a {
    font-size: 18px;
    padding: 0 20px;
  }

  .about,
  .footer,
  .header,
  .leadL,
  .mobile,
  .tips {
    padding: 0;
  }

  .footer {
    font-size: 20px;
  }

  .header,
  .row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 70px;
    position: relative;
  }

  .toplead {
    width: 100%;
  }

  .leadL {
    text-align: left;
  }

  .leadR {
    width: 418px !important;
    height: 448px;
    margin-left: 125px;
  }

  .leadR span.href {
    width: 230px;
    height: 66px;
    top: 68px;
    left: 98px;
    line-height: 66px;
    font-size: 36px;
  }

  .toplead h1 {
    font-size: 65px;
    margin-top: 160px;
  }

  .toplead p {
    font-size: 56px;
  }

  .toplead a {
    width: 390px;
    height: 90px;
    font-size: 42px;
    line-height: 90px;
  }

  .line {
    width: 541px;
    height: 139px;
    left: 400px;
    top: 280px;
  }

  /**/
  .mobile .row {
    margin-top: 30px;
    height: 540px;
  }

  .mobile .m_tyk {
    width: 503px;
    left: 130px;
    position: absolute;
    margin-left: 0;
  }

  .mobile .wx {
    width: 500px;
    padding: 0;
  }

  .mobile .wx h3 {
    margin-top: 120px;
    font-size: 44px;
  }

  .mobile .wx img {
    width: 220px;
    margin-top: 44px;
  }

  .mobile .label-success {
    font-size: 32px;
  }

  .mobile .wx span {
    display: inline;
  }

  .mobile .label-default {
    font-size: 44px;
  }

  /**/
  .download .row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 110px;
    position: relative;
  }

  .download .row .col-md-6 {
    width: 425px;
    padding: 0;
    margin: 0 40px;
    float: left;
  }

  .download a {
    width: 425px;
    font-size: 30px;
  }

  .download a i {
    font-size: 50px;
  }

  /**/
  .enter .col-md-6 {
    font-size: 40px;
  }

  .mapla {
    display: block;
  }

  .fa-map-marker {
    width: 152px;
    height: 152px;
    border: 10px solid #595757;
  }

  .enter .fa-map-marker:before {
    font-size: 92px;
    margin-top: 7px;
    display: block;
  }

  .enter .ewm {
    width: 152px;
  }

  .tips {
    max-width: 1280px;
    padding: 0 70px;
    margin: 50px auto;
    font-size: 42px;
  }

  .about {
    margin-bottom: 70px;
  }

  .about .col-md-4 {
    padding: 0 30px 0 0;
  }

  .about h3 {
    font-size: 33px;
    margin: 10px 0 20px;
  }

  .about p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1279px) {
  .download .row {
    max-width: 650px;
  }

  .download a {
    width: 258px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 700px) {
  .mobile .m_tyk {
    width: 50%;
  }

  .mobile .wx {
    width: 50%;
  }
}

@media (max-width: 640px) {
	
	.col-md-6:first-child {
		margin-bottom: 4%
	}
	.line {
		display: none
	}
	.about,
	.footer,
	.header,
	.leadL,
	.mobile,
	.tips {
		padding: 0 15px
	}
	.mobile .m_tyk {
		left: 0;
		width: auto;
		margin-left: 5.5%
	}
	.mobile .wx {
		left: 0;
		width: auto;
		text-align: center;
		margin-top: -50px
	}
	.enter .col-md-6 {
		font-size: 18px
	}
	.row {
		margin: 0
	}
	.enter .col-md-6 {
		width: 50%;
		float: left
	}
	.col-md-4 {
		padding: 0
	}
}

  .col-md-6:first-child {
    margin-bottom: 4%
  }

  .line {
    display: none
  }

  .mobile .m_tyk {
    left: 0;
    width: auto;
    margin-left: 5.5%
  }

  .mobile .wx {
    left: 0;
    width: auto;
    text-align: center;
    margin-top: -50px
  }

  .enter .col-md-6 {
    font-size: 18px
  }

  .row {
    margin: 0
  }

  .enter .col-md-6 {
    width: 50%;
    float: left
  }

  .col-md-4 {
    padding: 0
  }
}@media (max-width: 360px){
	.header h3 {	
	font-size: 16px;
}
	
}